/** ABOUT **/
.about-section {
  color: $color-secondary;
  flex-direction: column;
  
  @media #{$brk-md} {
    flex-direction: row;
    overflow: hidden;
  }


  section {
  
    @media #{$brk-md} {
      width: 50%;
    }

    &:first-child {
  
      @media #{$brk-md} {
        float: left;
        padding-right: 0.5em;
      }
    }

    &:last-child {
      @media #{$brk-md} {
        float: right;
        padding-left: 0.5em;
      }
    }
  }

}